{% extends 'layout.html' %}

{% block title%}
    Inicio
{% endblock %}

{% block content %}
<h2 class="title" style="text-align: center;">¿Que es Gp Group?</h2>
<h2>MISION</h2>
<br>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    Gp Group intenta ofrecer la mejor experiencia de informática personal a estudiantes, educadores, profesionales creativos y consumidores de todo el mundo a través de sus innovadoras soluciones de hardware, software e Internet. Además de promover estilos de vida saludables así como seguir capacitándose para renovar la empresa constantemente.

Ser una empresa de concursos y sorteos de excelencia competitiva mundialmente, por sus productos de alta calidad y confiabilidad.           
</p>
<br>
<h2>VISION</h2>
<br>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    Como visión; ser considerados por sus clientes y aliados estratégicos como una opción viable que ofrece soluciones y servicios basados principalmente en la innovación, tecnología avanzada, servicio y calidad que supere sus expectativas, además de la creatividad que posen a la hora de crear nuevos productos distinguiéndose de la competencia, de manera que su valor añadido sea único.
</p>
{% endblock %}